---
layout: collection # TODO zmiana
permalink: /authors/
header:
  overlay_image: /assets/images/burzenin_people.jpg
  overlay_filter: 0.5
title: Autorzy
tagline: (czyli konstruktorzy, prelegenci i organiztorzy)
---

Poniżej znajduje się lista dotychczas zidentyfikowanych i przypisanych do swoich aktywności osób, które odznaczyły się w organizacji lub uświetnianiu Zjazdu przez <a href="/puk">udział w konkursie PUK</a> (lista konstruktorów <a href="/puk/constructors">tutaj</a>), poprowadzenie prezentacji lub warsztatów (lista prelegentów <a href="/speakers">tutaj</a>), lub wolontariat przy organizacji wydarzenia (lista organizatorów i wolontariuszy <a href="/staff">tutaj</a>)

<br>
<br>
Warto dodać, że nieobecność kogoś na tej liście nie oznaczy umniejszenia zasług tej osoby - choćby w przypadku <a href="/puk/warsztaty_qrp">osób organizujących Warsztaty QRP</a> - nie ma jeszcze dopisanej obsługi pojedynczych historycznych zjazdów jako odkładająca się na profilu użytkownika i na tej liście "zasługa". 

<br>
<br>

<div class="participants-container">
{% for f in site.data.authors %}
{% unless f[1].invisible %}
		<div class="participant">

			{% if f[1].avatar %}
			{% assign img_src = f[1].avatar | relative_url %}
			{% assign img_alt = f[1].name %}
			{% assign img_style = "" %}
		{% else %}
			{% assign img_src = 'assets/images/zjazd.png' | relative_url %}
			{% assign img_alt = "Zaślepka" %}
			{% assign img_style = "opacity: 0.4;" %}
		{% endif %}
		
		{% assign img_class = "u-photo" %}
		{% if f[1].sk %}
			{% assign img_class = img_class | append: " sk" %}
		{% endif %}
		
		<img src="{{ img_src }}" itemprop="image" class="{{ img_class }}" style="{{ img_style }}" alt="{{ img_alt }}">
	

		{% if f[1].first_name %}
			{% assign display_name = f[1].first_name %}
		{% elsif f[1].name %}
			{% assign display_name = f[1].name %}
		{% endif %}

		{% if display_name %}
    		{% if f[1].sk %}
        		{% assign display_name = display_name | append: " (SK)" %}
    		{% endif %}
    		<h2 class="archive__item-title">{{ display_name }} 
        	{% if f[1].callsign %}
            	<small style="color: rgb(212, 212, 212);">{{ f[1].callsign }}</small>
        	{% endif %}
    		</h2>
		{% endif %}

		{% if f[1].constructor_bio %}
			<div class="constructor-bio"> {{ f[1].constructor_bio | markdownify }} </div>
		{% endif %}

		{% capture project_count %}
			{% include author_count.html current_author=f current_collection='puk'%}
	  	{% endcapture %}

		{% capture talk_count %}
			{% include author_count.html current_author=f current_collection='talks'%}
	  	{% endcapture %}

		<p><a href="/authors/{{ f[0] }}" class="page__taxonomy-item p-category">
			{% if f[1].zjazd_orga %}
			Organizator, 
			{% endif %}
			{% unless project_count == "0" %}
			Projektów: {{ project_count }},
			{% endunless %}
			{% unless talk_count == "0" %} Wystąpień: {{ talk_count }}
			{% endunless %}</a></p>
		
	</div>
	{% endunless %}
	{% endfor %}
</div>
