---
layout: splash
permalink: /program/
title: Program Zjazdu
header:
  overlay_image: /assets/images/burzenin_talks.jpg
  overlay_filter: 0.5
  actions:
    - label: "<i class='fas fa-download'></i> Program"
      url: "/program"
    - label: "<i class='fas fa-wrench'></i> Prelegenci"
      url: "/speakers"
artificial_talks:
  - title: "Śniadanie"
    class: "breakfast"
    artificial_event: yes
    starttime: "2024-09-06 07:30:00"
    endtime: "2024-09-06 08:45:00"
    room:
      - a
      - b
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Obiadokolacja"
    class: "dinner"
    artificial_event: yes
    starttime: "2024-09-06 17:15:00"
    endtime: "2024-09-06 18:30:00"
    room:
      - a
      - b
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Śniadanie"
    class: "breakfast"
    artificial_event: yes
    starttime: "2024-09-07 07:30:00"
    endtime: "2024-09-07 08:45:00"
    room:
      - a
      - b
      - c
      - d
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Obiadokolacja"
    class: "dinner"
    artificial_event: yes
    starttime: "2024-09-07 17:15:00"
    endtime: "2024-09-07 18:30:00"
    room:
      - a
      - b
      - c
      - d
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Śniadanie"
    class: "breakfast"
    artificial_event: yes
    starttime: "2024-09-08 07:30:00"
    endtime: "2024-09-08 08:45:00"
    room:
      - s
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Grill i integracja"
    class: "grill"
    artificial_event: yes
    starttime: "2024-09-06 20:00:00"
    endtime: "2024-09-06 23:59:00"
    room:
      - a
      - b
    where_exactly: "Pod wiatą"
    where_exactly_geourl: "geo:51.47042292855523,18.8505647676389"
    notitlelink: "yes"
  - title: "Grill i integracja"
    class: "grill"
    artificial_event: yes
    starttime: "2024-09-07 20:00:00"
    endtime: "2024-09-07 23:59:00"
    room:
      - a
      - b
      - c
      - d
    where_exactly: "Pod wiatą"
    where_exactly_geourl: "geo:51.47042292855523,18.8505647676389"
    notitlelink: "yes"
  - title: "TBA - Prezentacja"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-06 12:45:00"
    endtime: "2024-09-06 13:45:00"
    room: "a"
    notitlelink: "yes"
  - title: "TBA - Atrakcje dla dzieci i młodzieży"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-06 15:15:00"
    endtime: "2024-09-06 17:00:00"
    room: "b"
    notitlelink: "yes"
  - title: "TBA - Warsztaty"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-07 09:30:00"
    endtime: "2024-09-07 12:00:00"
    room: "c"
    notitlelink: "yes"
  - title: "TBA - Warsztaty"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-07 14:15:00"
    endtime: "2024-09-07 16:15:00"
    room: "b"
    notitlelink: "yes"
  - title: "PUK - Prezentacje"
    class: "puk"
    artificial_event: yes
    starttime: "2024-09-07 13:30:00"
    endtime: "2024-09-07 14:30:00"
    room: "a"
    notitlelink: "yes"
  - title: "PUK - Ogłoszenie wyników i zakończenie Zjazdu"
    class: "puk"
    artificial_event: yes
    starttime: "2024-09-07 16:15:00"
    endtime: "2024-09-07 17:00:00"
    room: "d"
    notitlelink: "yes"

  - title: "Giełda"
    class: "gielda"
    artificial_event: yes
    starttime: "2024-09-07 09:30:00"
    endtime: "2024-09-07 16:00:00"
    room: "outside"
    where_exactly: "Pod wiatą"
    where_exactly_geourl: "geo:51.47042292855523,18.8505647676389"
    notitlelink: "yes"
  - title: "Grochówka"
    class: "outside"
    artificial_event: yes
    starttime: "2024-09-07 13:30:00"
    endtime: "2024-09-07 14:30:00"
    room: "outside"
    notitlelink: "yes"
  - title: "wstratosfere.pl - Misja balonowa"
    class: "gielda"
    artificial_event: yes
    starttime: "2024-09-07 15:00:00"
    endtime: "2024-09-07 16:00:00"
    room: "outside"
    notitlelink: "yes"
---

<a href="/assets/images/program2024.jpg">
  <img src="/assets/images/thumbs/program2024.jpg" alt="image-left" class="align-left">
</a>
Wydarzenia można również zasubskrybować jako <a href="https://calendar.google.com/calendar/u/1?cid=Y19hNzMzODJhZTNmMTU1MDY1Zjg3MTFkNTdkZTM1Y2JhMzIwNjFhZDEwNjY5ODhjM2YxMWQxYjY3YzdmY2JhZDQzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20">Kalendarz Google</a> lub obejrzeć w postaci graficznej (kliknij miniaturke aby powiększyć), która będzie wydrukowana i powieszona w różnych miejscach na Zjeździe.
<br><br>
Listę wszystkich wystąpień jakie zgromadziliśmy łącznie z tymi poniżej <a href="/talks">znajdziesz tu</a>, listę wszystkich prelegentów <a href="/speakers">znajdziesz tu</a>

{% assign all_talks = site.talks | concat: page.artificial_talks %}
{% assign sorted_talks = all_talks | sort: "starttime" %}
{% assign talks_by_date = sorted_talks | group_by_exp: "talk", "talk.starttime | date: '%Y-%m-%d'" %}
{% assign current_year = site.current_year %}

{% for date in talks_by_date %}
{% if date.name contains current_year %}
  <h2>{{ date.name }}</h2>
  <div class="talks-grid">
    {% assign rooms = "a,b,c,d,s" | split: ',' %}
    {% for room in rooms %}
      {% assign room_talks = date.items | where: "room", room %}
      {% if room_talks.size > 0 %}
        <div class="room-column">
          {%if room != "s" %}
            <h3>Sala {{ room | upcase }}</h3>
            {% if room == "a"%}<p class="room_hint">Na prawo od wejścia.</p>
            {% elsif room == "b"%}<p class="room_hint">Na lewo od wejścia.</p>
            {% elsif room == "c"%}<p class="room_hint">Na pierwszym piętrze.</p>
            {% elsif room == "d"%}<p class="room_hint">Na wprost wejścia.</p>
            {% endif %}
          {%else%}
          <h3>Stołówka</h3>
          <p class="room_hint">Na pierwszym piętrze, naprzeciwko stacji zjazdowej.</p>
          {% endif %}
          
          <ul>
            {% for talk in room_talks %}
              <li class="{{ talk.class }}">
                {% if talk.notitlelink and talk.notitlelink == "yes" %}
                  <strong>{{ talk.title }}</strong>
                {% else %}
                  <a href="{{ talk.url | relative_url }}">
                    <strong>{{ talk.title }}</strong>
                  </a>
                {% endif %}
                <br>
                {%if talk.where_exactly %}
                {%if talk.where_exactly_geourl %}
                <b>Gdzie</b>: <a class="geolink" href="{{ talk.where_exactly_geourl }}">{{ talk.where_exactly }}</a>
                <br>
                {% else %}
                Gdzie: {{ talk.where_exactly }}
                <br>
                {% endif %}
                {% endif %}
                {% for author in talk.author %}
                  {% assign author_info = site.data.authors[author] %}
                  - <a href="{{ author_info.authorpage | relative_url }}">{{ author_info.name }}
                  {% if author_info.callsign and author_info.callsign != '' %}
                    ({{ author_info.callsign }})
                  {% endif %}</a>
                  <br>
                {% endfor %}
                <b>Kiedy</b>: {{ talk.starttime | date: "%H:%M" }} - {{ talk.endtime | date: "%H:%M" }}<br>
                <span class="calendarlinks"><a href="#" onclick="downloadICS(event, '{{ talk.starttime }}', '{{ talk.endtime }}', '{{ talk.title }}', '---', 'Osrodek Sportowa Osada Zarzecze 12 Strumiany', '{{ talk.url | absolute_url }}')">.ics</a> / <a
            href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{ talk.title }}&dates={{ talk.starttime | date: '%Y%m%dT%H%M%S' }}/{{ talk.endtime | date: '%Y%m%dT%H%M%S' }}&ctz=Europe/Warsaw">Google Calendar</a></span><br>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="outside-talks">
    <h3>Inne</h3>
    {% assign outside_talks = date.items | where: "room", "outside" %}
    {% if outside_talks.size > 0 %}
      <ul>
        {% for talk in outside_talks %}
          <li>
            {% if talk.notitlelink and talk.notitlelink == "yes" %}
              <strong>{{ talk.title }}</strong>
            {% else %}
              <a href="{{ talk.url | relative_url }}">
                <strong>{{ talk.title }}</strong>
              </a>
            {% endif %}
            <br>
            {%if talk.where_exactly %}
            {%if talk.where_exactly_geourl %}
            Gdzie: <a href="{{ talk.where_exactly_geourl }}">{{ talk.where_exactly }}</a>
            <br>
            {% else %}
            Gdzie: {{ talk.where_exactly }}
            <br>
            {% endif %}
            {% endif %}
            {% for author in talk.author %}
              {% assign author_info = site.data.authors[author] %}
              - {{ author_info.name }}
              {% if author_info.callsign and author_info.callsign != '' %}
                ({{ author_info.callsign }})
              {% endif %}
              <br>
            {% endfor %}
            Kiedy: {{ talk.starttime | date: "%H:%M" }} - {{ talk.endtime | date: "%H:%M" }}<br>
            <span class="calendarlinks"><a href="#" onclick="downloadICS(event, '{{ talk.starttime }}', '{{ talk.endtime }}', '{{ talk.title }}', '---', 'Osrodek Sportowa Osada Zarzecze 12 Strumiany', '{{ talk.url | absolute_url }}')">.ics</a> / <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{ talk.title }}&dates={{ talk.starttime | date: '%Y%m%dT%H%M%S' }}/{{ talk.endtime | date: '%Y%m%dT%H%M%S' }}&ctz=Europe/Warsaw">Google Calendar</a></span><br>
        {% endfor %}
      </ul>
    {% else %}
      <p>Brak zaplanowanych aktywności.</p>
    {% endif %}
  </div>
  {% endif %}
{% endfor %}

<script>
  function downloadICS(event, start, end, title, description, location, url) {
      // Prevent default action
      event.preventDefault();

      // Create iCal string
      const icalString = `
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Sample Corp//NONSGML Event//EN
BEGIN:VEVENT
UID:${new Date().toISOString()}@sample.com
DTSTAMP:${new Date().toISOString().replace(/[-:]/g, '').split('.')[0]}Z
DTSTART:${start}
DTEND:${end}
SUMMARY:${title}
DESCRIPTION:${description}
LOCATION:${location}
URL:${url}
END:VEVENT
END:VCALENDAR
      `.trim();

      // Encode iCal string in Base64
      const base64String = btoa(icalString);

      // Create a download link
      const downloadLink = document.createElement('a');
      downloadLink.href = 'data:text/calendar;base64,' + base64String;
      downloadLink.download = `${title.replace(/[^a-z0-9]/gi, '_').toLowerCase()}.ics`;
      downloadLink.style.display = 'none';

      // Append the link to the body
      document.body.appendChild(downloadLink);

      // Programmatically click the download link
      downloadLink.click();

      // Remove the link from the document
      document.body.removeChild(downloadLink);
  }
</script>