---
layout: splash
permalink: /talks
title: Wszystkie wystąpienia
header:
  overlay_image: /assets/images/burzenin_talks.jpg
  overlay_filter: 0.5
---

{% assign talks_by_year = site.talks | group_by_exp: "talk", "talk.starttime | date: '%Y'" | sort: "name" | reverse %}

{% for year in talks_by_year %}
  <h2>{{ year.name }}</h2>
  <ul>
    {% for talk in year.items %}
      <li>
		<a href="{{ talk.url | relative_url }}">
			<strong>{{ talk.title }}</strong>
		  </a>
		{% for author in talk.author %}
		{% assign author_info = site.data.authors[author] %}
		- <a href="{{ author_info.authorpage | relative_url }}">{{ author_info.name }}
		{% if author_info.callsign and author_info.callsign != '' %}
		  ({{ author_info.callsign }})
		{% endif %}</a>
		<br>
	  {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}