---
layout: splash
permalink: /talks/
artificial_talks:
  - title: "Śniadanie"
    class: "breakfast"
    artificial_event: yes
    starttime: "2024-09-06 07:30:00"
    endtime: "2024-09-06 08:45:00"
    room:
      - a
      - b
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Obiadokolacja"
    class: "dinner"
    artificial_event: yes
    starttime: "2024-09-06 17:15:00"
    endtime: "2024-09-06 18:30:00"
    room:
      - a
      - b
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Śniadanie"
    class: "breakfast"
    artificial_event: yes
    starttime: "2024-09-07 07:30:00"
    endtime: "2024-09-07 08:45:00"
    room:
      - a
      - b
      - c
      - d
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Obiadokolacja"
    class: "dinner"
    artificial_event: yes
    starttime: "2024-09-07 17:15:00"
    endtime: "2024-09-07 18:30:00"
    room:
      - a
      - b
      - c
      - d
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Śniadanie"
    class: "breakfast"
    artificial_event: yes
    starttime: "2024-09-08 07:30:00"
    endtime: "2024-09-08 08:45:00"
    room:
      - a
      - b
      - c
      - d
    where_exactly: "Stołówka"
    where_exactly_geourl: "geo:51.470696420106776,18.84896063210119"
    notitlelink: "yes"
  - title: "Grill i integracja"
    class: "grill"
    artificial_event: yes
    starttime: "2024-09-06 20:00:00"
    endtime: "2024-09-06 23:59:00"
    room: "outside"
    where_exactly: "Pod wiatą"
    where_exactly_geourl: "geo:51.47042292855523,18.8505647676389"
    notitlelink: "yes"
  - title: "Grill i integracja"
    class: "grill"
    artificial_event: yes
    starttime: "2024-09-07 20:00:00"
    endtime: "2024-09-07 23:59:00"
    room: "outside"
    where_exactly: "Pod wiatą"
    where_exactly_geourl: "geo:51.47042292855523,18.8505647676389"
    notitlelink: "yes"
  - title: "TBA - Prezentacja"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-06 12:45:00"
    endtime: "2024-09-06 13:45:00"
    room: "a"
    notitlelink: "yes"
  - title: "TBA - Warsztaty"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-06 13:00:00"
    endtime: "2024-09-06 15:00:00"
    room: "b"
    notitlelink: "yes"
  - title: "TBA - Atrakcje dla dzieci i młodzieży"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-06 15:15:00"
    endtime: "2024-09-06 17:00:00"
    room: "b"
    notitlelink: "yes"
  - title: "TBA - Warsztaty"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-07 09:30:00"
    endtime: "2024-09-07 12:00:00"
    room: "c"
    notitlelink: "yes"
  - title: "TBA - Warsztaty dla najmłodszych"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-07 09:30:00"
    endtime: "2024-09-07 11:30:00"
    room: "b"
    notitlelink: "yes"
  - title: "TBA - Warsztaty"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-07 14:15:00"
    endtime: "2024-09-07 16:15:00"
    room: "b"
    notitlelink: "yes"
  - title: "TBA - Spotkanie miłośników telegrafii"
    class: "tba"
    artificial_event: yes
    starttime: "2024-09-07 12:30:00"
    endtime: "2024-09-07 14:00:00"
    room: "c"
    notitlelink: "yes"
  - title: "PUK - Prezentacje"
    class: "puk"
    artificial_event: yes
    starttime: "2024-09-07 13:30:00"
    endtime: "2024-09-07 14:30:00"
    room: "a"
    notitlelink: "yes"
  - title: "PUK - Ogłoszenie wyników i zakończenie Zjazdu"
    class: "puk"
    artificial_event: yes
    starttime: "2024-09-07 16:15:00"
    endtime: "2024-09-07 17:00:00"
    room: "d"
    notitlelink: "yes"

  - title: "Giełda"
    class: "gielda"
    artificial_event: yes
    starttime: "2024-09-07 09:30:00"
    endtime: "2024-09-07 16:00:00"
    room: "outside"
    notitlelink: "yes"
  - title: "Grochówka"
    class: "outside"
    artificial_event: yes
    starttime: "2024-09-07 13:30:00"
    endtime: "2024-09-07 14:30:00"
    room: "outside"
    notitlelink: "yes"
  - title: "wstratosfere.pl - Misja balonowa"
    class: "gielda"
    artificial_event: yes
    starttime: "2024-09-07 15:00:00"
    endtime: "2024-09-07 16:00:00"
    room: "outside"
    notitlelink: "yes"
---

<h1>Talks Schedule</h1>

{% assign all_talks = site.talks | concat: page.artificial_talks %}
{% assign sorted_talks = all_talks | sort: "starttime" %}
{% assign talks_by_date = sorted_talks | group_by_exp: "talk", "talk.starttime | date: '%Y-%m-%d'" %}

{% for date in talks_by_date %}
  <h2>{{ date.name }}</h2>
  <div class="talks-grid">
    {% assign rooms = "a,b,c,d" | split: ',' %}
    {% for room in rooms %}
      <div class="room-column">
        <h3>Sala {{ room | upcase }}</h3>
        {% assign room_talks = date.items | where: "room", room %}
        {% if room_talks.size > 0 %}
          <ul>
            {% for talk in room_talks %}
              <li class="{{ talk.class }}">
                {% if talk.notitlelink and talk.notitlelink == "yes" %}
                  <strong>{{ talk.title }}</strong>
                {% else %}
                  <a href="{{ talk.url | relative_url }}">
                    <strong>{{ talk.title }}</strong>
                  </a>
                {% endif %}
                <br>
                {%if talk.where_exactly %}
                {%if talk.where_exactly_geourl %}
                Gdzie: <a href="{{ talk.where_exactly_geourl }}">{{ talk.where_exactly }}</a>
                <br>
                {% else %}
                Gdzie: {{ talk.where_exactly }}
                <br>
                {% endif %}
                {% endif %}
                {% for author in talk.author %}
                  {% assign author_info = site.data.authors[author] %}
                  - {{ author_info.name }}
                  {% if author_info.callsign and author_info.callsign != '' %}
                    ({{ author_info.callsign }})
                  {% endif %}
                  <br>
                {% endfor %}
                Kiedy: {{ talk.starttime | date: "%H:%M" }} - {{ talk.endtime | date: "%H:%M" }}<br>
                {% if talk.artificial_event %}
                {% else %}
                <!-- <a href="/talks/{{talk.ics_slug}}.ics">Dodaj do kalendarza</a> -->
                {% endif%}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No talks scheduled.</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="outside-talks">
    <h3>Inne</h3>
    {% assign outside_talks = date.items | where: "room", "outside" %}
    {% if outside_talks.size > 0 %}
      <ul>
        {% for talk in outside_talks %}
          <li>
            {% if talk.notitlelink and talk.notitlelink == "yes" %}
              <strong>{{ talk.title }}</strong>
            {% else %}
              <a href="{{ talk.url | relative_url }}">
                <strong>{{ talk.title }}</strong>
              </a>
            {% endif %}
            <br>
            {%if talk.where_exactly %}
            {%if talk.where_exactly_geourl %}
            Gdzie: <a href="{{ talk.where_exactly_geourl }}">{{ talk.where_exactly }}</a>
            <br>
            {% else %}
            Gdzie: {{ talk.where_exactly }}
            <br>
            {% endif %}
            {% endif %}
            {% for author in talk.author %}
              {% assign author_info = site.data.authors[author] %}
              - {{ author_info.name }}
              {% if author_info.callsign and author_info.callsign != '' %}
                ({{ author_info.callsign }})
              {% endif %}
              <br>
            {% endfor %}
            Kiedy: {{ talk.starttime | date: "%H:%M" }} - {{ talk.endtime | date: "%H:%M" }}<br>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No talks scheduled.</p>
    {% endif %}
  </div>
{% endfor %}
