.radio-description {
	.header {
	  font-size: 1em;
	  margin-bottom: 10px;
	}
	.content {
	  display: flex;
	  align-items: center;
	}
	.logo {
	  width: 78px;
	  height: 36px;
	  margin-right: 10px;
	}
	.info {
	  font-size: 12px;
	}
  }
  