.talks-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
  }
  
  .room-column {
	flex: 1;
	min-width: 200px;
  
	h3 {
	  text-align: center;
	}
  
	ul {
	  list-style-type: none;
	  padding: 0;
	}
  
	li {
	  border: 1px solid #ccc;
	  padding: 8px;
	  margin-bottom: 8px;

	  &.breakfast {
		background-color: #81ff7f24;
		color: #787878;
	  }

	  &.dinner {
		background-color: rgb(149 140 90 / 14%);
		color: #787878;
	  }

	  &.tba {
		background-color: rgb(67 87 243 / 14%);

	  }

	  &.puk {
		background-color: #fffb7f24

	  }
	}
  
	img {
	  max-width: 100%;
	  height: auto;
	}
  }