.talks-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
  }
  
  .room-column {
	flex: 1;
	min-width: 200px;
  
	h3 {
	  text-align: center;
	}
	
	p.room_hint {
	  text-align: center;
	  font-size: 14px;
	}
  
	ul {
	  list-style-type: none;
	  padding: 0;
	}
  
	li {
	  border: 1px solid #ccc;
	  padding: 8px;
	  margin-bottom: 8px;

	  &.breakfast {
		background-color: #81ff7f24;
		color: #787878;

		strong:before {
			content: "🥐 ";
		}
	  }

	  &.dinner {
		background-color: rgb(149 140 90 / 14%);
		color: #787878;

		strong:before {
			content: "🍽️ ";
		}
	  }

	  &.tba {
		background-color: rgb(67 87 243 / 14%);

		strong:before {
			content: "🔜 ";
		}

	  }

	  &.puk {
		background-color: rgb(255 251 127 / 14%);

		strong:before {
			content: "🛠️ ";
		}

	  }

	  &.grill {
		background-color: rgb(110 67 243 / 14%);

		strong:before {
			content: "🔥 ";
		}

	  }

	  span.calendarlinks:before {
		  content: "📅 ";
	  }
	}
  
	img {
	  max-width: 100%;
	  height: auto;
	}
  }